<web-app>
    <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>kz.iitu.javaee.ConfigDemoServlet</servlet-class>

        <init-param>
            <param-name>username</param-name>
            <param-value>admin</param-value>
        </init-param>

        <init-param>
            <param-name>password</param-name>
            <param-value>mypassword</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config/demo</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>kz.iitu.javaee.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>kz.iitu.javaee.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
